@media (min-width: 1281px) {
    .screen_nav {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    * {
        box-sizing: border-box;
    }

    body, html {
        overflow-x: hidden;
    }

    body * {
        max-width: 100%;
    }

    body {
        width: auto;
        max-width: 100%;
        font-size: 13px;
    };

    .screen_nav, .screen_nav_element, .screen_nav_icon {
        display: flex;
    }

    .screen_nav {
        position: fixed;
        height: 50px;
        justify-content: space-evenly;
        width: 100%;
        background-color: var(--secondary);
        bottom: 0;
    }
    
    .screen_nav_element {
        display: flex;
        width: 50px;
        padding: 5px;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .screen_nav_icon {
        height: 30px;
        width: 30px;
        object-fit: contain;
        filter: invert();
        font-size: 30px !important;
        color: var(--primary);
    }
    
}


@media only screen and (max-width: 800px) {

    .ad_parent, .navigation, .header_1 {
        display: none;
    }
    
    .main {
        width: 100%;
        padding: 10px;
    }

    .product_details_parent {
        width: auto;
    }

    #products {
        padding: 0;
    }

    .home_product_parent {
        width: 150px;
        margin: 1px;
        border: 1px solid var(--primary);
        overflow-x: hidden;
    }

    .categories_table_row_top {
        flex-direction: column;
    }

    .category_table_element {
        border-top: none;
    }

    .category_table_element:first-of-type {
        border-top: 2px solid var(--accent);
    }

    .hmpr_title {
        font-size: 16px;
    }

    .prdt_title {
        font-size: 25px;
    }

    .prdt_price {
        font-size: 20px;
    }

    .prdt_thumbnail_parent {
        height: auto;
    }

    .prdt_description {
        font-size: 16px;
    }

    .footer_bottom {
        flex-direction: column;
    }

    .account-info-wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .acin_kvp {
        flex-direction: column;
    }

    .acin_key {
        font-size: 17px;
    }

    .account-info-wrapper > div {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    .cart_item_parent {
        padding: 5px;
        border: 2px solid var(--primary);
    }

    .crit_right {
        padding: 0;
    }

    .crit_title {
        font-size: 19px;
    }

    .crit_sum {
        flex-direction: column-reverse;
        align-items: start;
    }

    .remove_from_cart {
        margin-top: 20px;
    }

    .prdt_review_top {
        flex-direction: column;
        margin-bottom:15px;
    }

    .prdt_review_author {
        font-size: 18px;
    }

    .review_form {
        flex-direction: column;
    }

    .review_form > * {
        border-radius: 0;
        width: 100%;
        margin: 10px 0;
        align-items: center;
    }

    .stars_selection_before {
        width: max-content;
        background-color: transparent;
        margin: 0;
        padding: 0;
    }

    .stars_selection {
        padding: 5px;
    }

}