.ad_parent {
    width: 50%;
    margin: 50px auto 50px auto;
    /* padding: 10px; */
    text-decoration: none;
}

.logimg {
    height: 1.5em;
    justify-self: center;
    align-self: center;
    user-select: none;
}

.ad_parent::before {
    content: "ad";
    border-radius: 10px;
    display: flex;
    color: white;
    translate: 5px 30px;
    /* background-color: red; */
    background-color: black;
    width: fit-content;
    padding: 5px;
    aspect-ratio: 1/1;
}

.ad_img:hover {
    box-shadow: var(--std-shadow);
}

.ad_img {
    border-radius: 20px;
    height: 200px;
    width: 100%;
    align-self: center;
}

.main {
    margin: 50px auto 0 auto;
    width: 65%;
    flex-direction: column;
}

.carousel {
    width: 100%;
    background-color: var(--primary);
}

.carousel_img {
    width: auto;
}

.search_bar_parent {
    background-color: var(--secondary);
    padding: 10px;
    align-content: center;
    justify-content: center;
}

.search_bar {
    width: 500px;
    border: none;
    padding: 10px;
}

.search_submit {
    aspect-ratio: 1/1;
    border: none;
    background-color: var(--primary);
}

/* 

hmpr: home_product
    children of home_product_parent

*/

#products {
    /* justify-content: space-evenly; */
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid var(--accent); */
    margin-bottom: 50px;
    margin-top: 20px;
}

.home_product_parent {
    display: flex;
    background-color: var(--secondary);
    border: 2px solid var(--primary);
    width: 200px;
    flex-direction: column;
    overflow-y: hidden;
    padding: 10px;
    text-decoration: none !important;
    margin: 10px 10px 10px 10px;
    transition: 0.1s;
}

.home_product_parent:hover {
    box-shadow: var(--std-shadow);
}

.hmpr_thumbnail {
    width: 100%;
}

.hmpr_thumbnail_parent {
    aspect-ratio: 1/1;
    width: auto;
    max-width: 100%;
    height: auto;
    background-color: black;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary);

    margin-bottom: 15px;
}

.hmpr_title {
    font-size: 19px;
    margin-bottom: 20px;
    flex-grow: 1;
}

.hmpr_price {
    color: #f62d2d;
    margin-top: auto;
}

.hmpr_price .strikethrough {
    color: var(--accent);
    margin-right: 0.3em;
}

/* 

ctrt: categories_table_row_top

*/

.categories_table_row_top {
    margin-top: 30px;
    margin-bottom: 50px;
    flex-direction: column;
}

.categories_table_row_top:nth-child(1) {
    border-top: 1px solid var(--accent);
}

.category_table_element {
    padding: 20px;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--font);
    border: 1px solid var(--accent);
    border-top: none;
    transition: 0.1s;
}

.category_table_element:hover {
    background-color: var(--accent);
    color: var(--tertiary);
    box-shadow: var(--std-shadow);
}

/* .prdt_category a {
    text-decoration: none;
    color: var(--accent);
    margin-left: 0.3em;
}

.prdt_category {
    margin-bottom: 20px;
    border: 1px solid var(--secondary);
    width: 100%;
    padding: 20px;
}

.prdt_gallery_link {
    text-decoration: none;
    padding: 20px;
    border: 1px solid var(--secondary);
    width: 100%;
    color: var(--accent);
} */

/*  */

.prdt_thumbnail_parent {
    align-self: center;
    margin-bottom: 20px;
    margin-top: 20px;
    width: auto;
}

.prdt_thumbnail {
    border-radius: 10px;
    margin: auto;
    width: auto;
    max-width: 100%;
}

.prdt_title {
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(0,0,0,0.3);
    color: var(--font);
    margin-bottom: 20px;
    font-size: 50px;
    justify-content: space-between;
    align-items: center;
}

.prdt_price {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--accent);
}

.prdt_field {
    border: 1px solid var(--secondary);
    padding: 20px;
    color: var(--font);
    margin: 10px 0 10px 0;
}

.prdt_description {
    flex-wrap: wrap;
    font-size: 20px;
}

.prdt_gallery {
    transition: 0.1s;
    text-decoration: none;
}

.prdt_gallery:hover {
    background-color: var(--secondary);
}

.prdt_category a {
    text-decoration: none;
    color: var(--accent);
    margin-left: 0.3em;
    transition: 0.1s;
    pointer-events: auto;
}

.prdt_category:hover {
    background-color: var(--secondary);
}

.prdt_category {
    pointer-events: none;
}

.product_details_parent {
    width: 100%;
    background-color: var(--primary);
    padding: 20px;
    flex-direction: column;
}

.prdt_reviews_parent {
    margin: 10px 0 10px 0;
    flex-direction: column;
    border: 1px solid var(--secondary);
}
  
.prdt_review_parent {
    background-color: var(--secondary);
    flex-direction: column;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-bottom: 1px solid var(--secondary);
    border-top: 1px solid var(--secondary);
}
  
.prdt_review_top {
    flex-direction: row;
    font-size: 20px;
    margin-bottom: 10px;
}
  
.prdt_review_author {
    color: var(--accent);
    margin-right: 10px;
}
  
.prdt_review_stars {
    color: var(--accent);
}
  
.prdt_review_content {
    color: var(--font)
}